<% data.forEach(tornado => { %>
<tr>
    <td><%= tornado.id %></td>
    <td><%= tornado.date %></td>
    <td><%= tornado.time %></td>
    <td><%= tornado.st %></td>
    <td><%= tornado.mag %></td>
    <td><%= tornado.inj %></td>
    <td><%= tornado.fat %></td>
    <td><%= tornado.loss %></td>
</tr>
<% }) %>
